In [65]:
from pandas import pandas as pd

In [66]:
pd.__version__

'2.1.1'

In [67]:
df_1 = pd.read_csv('./green_tripdata_2019-10.csv')
df_2 = pd.read_csv('./taxi_zone_lookup.csv')

/tmp/ipykernel_14820/1089360522.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv('./green_tripdata_2019-10.csv')

In [68]:
df_1.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [69]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:shekobeko62@pgdatabase:5432/ny_taxi')
engine.connect()

In [70]:
df_1.head(n=0).to_sql('green_taxi_data', con=engine, if_exists='replace') #truncates the table
df_2.head(n=0).to_sql('taxi_zone_lookup', con=engine, if_exists='replace') #truncates the table

0

In [71]:
df_1.lpep_pickup_datetime =  pd.to_datetime(df_1.lpep_pickup_datetime)
df_1.lpep_dropoff_datetime = pd.to_datetime(df_1.lpep_dropoff_datetime)

In [72]:
df_1.to_sql('green_taxi_data', con=engine, if_exists='append')

386

In [73]:
df_2.to_sql('taxi_zone_lookup', con=engine, if_exists='append')

265

In [ ]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [74]:
print(pd.io.sql.get_schema(df_1, name='green_taxi_data', con=engine))
print(pd.io.sql.get_schema(df_2, name='taxi_zone_lookup', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)



CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)